@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" style="color: red;">Acerca de</a>
        </div>

        <div class="px-4">
            <h2>Instituto Atlético Central Córdoba</h2>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
